<form>
    <div class="form-group">
        <label>Titre</label>
        <input type="text" name="name" value="{{sort.name}}" />
    </div><br>
    <div class="form-group">
        <label>Degâts</label>
        <input type="text" name="Degats" value="{{sort.data.data.Degats}}" />
    </div><br>
    <div class="form-group">
        <label>Seuil</label>
        <input type="text" name="Seuil" value="{{sort.data.data.Seuil}}" />
    </div><br>
    <div class="form-group">
        <label>Coût</label>
        <input type="text" name="Cout" value="{{sort.data.data.Cout}}" />
    </div><br>
    <div class="form-group">
        <label>Effets</label>
        <input type="text" name="Effets" value="{{sort.data.data.Effets}}" />
    </div><br>
    <div class="form-group">
        <label>Description</label>
        <input type="text" name="Description" value="{{sort.data.data.Description}}" />
    </div>
</form>