<div class="sheet-card {{data.type}}" data-type="{{data.type}}">
    <div>
        {{description}}
    </div>
    <div class="item-table">
        <table>
            <tr style="text-align: center;">
                <th>Jet</th>
                <td>[[{{formule}}]] / [[{{seuil}}]]</td>
            </tr>
        </table>
    </div>
</div>