<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
        <p><b>Bonus</b></p>
        <input name="data.Bonus" type="text" value="{{item.data.Bonus}}" placeholder="Bonus"/>
        <table>
            <tr>
                <th>Jet</th>
                <td style="padding-left: 5px; padding-right: 5px;"><input name="data.Jet" type="text" value="{{item.data.Jet}}" placeholder="Jet"/></td>
                <th>Dégâts</th>
                <td style="padding-left: 5px; padding-right: 5px;"><input name="data.Degats" type="text" value="{{item.data.Degats}}" placeholder="Degats"/></td>
                <th>Coût</th>
                <td style="padding-left: 5px; padding-right: 5px;"><input name="data.Cout" type="text" value="{{item.data.Cout}}" placeholder="Cout" data-dtype="Number"/></td>
            </tr>
        </table>
        <p><b>Description</b></p>
        <textarea name="data.Description" rows="10" placeholder="Description">{{{item.data.Description}}}</textarea>
        <p><b>Rareté</b></p>
        <select name="data.Rareté" style="width: 99.3%;">
            {{#select data.Rareté}}
            {{#each config.Rarity as |name type|}}
            <option value="{{type}}">{{type}}</option>
            {{/each}}
            {{/select}}
        </select>
        <p><b>Prix</b></p>
        <input name="data.Prix" type="text" value="{{item.data.Prix}}" placeholder="Prix"/>
        <p><b>Actif ?</b> <input type="checkbox" name="data.Equipe" value="{{item.data.Equipe}}" data-dtype="Boolean" {{checked item.data.Equipe}}/></p>
    </div>
</form>
