<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
        <p><b>Degâts</b></p>
        <input type="text" name="data.Degats" value="{{item.data.Degats}}" />    
        <p><b>Seuil</b></p>
        <input type="text" name="data.Seuil" value="{{item.data.Seuil}}" />    
        <p><b>Coût</b></p>
        <input type="text" name="data.Cout" value="{{item.data.Cout}}" />    
        <p><b>Effets</b></p>
        <input type="text" name="data.Effets" value="{{item.data.Effets}}" />    
        <p><b>Description</b></p>
        <input type="text" name="data.Description" value="{{item.data.Description}}" />
    </div>
</form>